<div class="login">
  <div class="wrap">
    <ul class="breadcrumb breadcrumb__t"> New Color</ul>
      <div class="content-top">

          <% if @color.errors.any? %>       
            <% @color.errors.full_messages.each do |message| %>
              <%= message %>
            <% end %>
          <% end %>
          <%= form_for @color,:url =>{ :action => :create, :id => @teether.id} do |c| %>
            <div class="to">
              <%= c.select(:name, ['red','blue','yellow','green','brown','black','white','pink','teal','purple','brown','grey'], {}) %>
            </div><br><br><br><br>
            <div class="submit">
              <%= c.submit %>
            </div>
          <% end%>
        </form>
                
