/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a.button, a:link.button, a:visited.button, input[type=submit], input[type=button], button {
  text-shadow: #0000 0 1px 0 !important;}
 .options h1{
  color: #eb6296;
  font-size: 30px;
  text-align: center;
  padding: 20px;
 }
 .options{
  background-color: white;
  padding: 20px;
 }
.options img{
  border-radius: 50%;
  border: 5px solid #eb6296;
  height: 300px;
}
 .option h1{
  color: #eb6296;
  font-size: 30px;
  text-align: center;
  padding: 20px;
 }
 .option{
  background-color: white;
  padding: 20px;
 }
.option img{

  border: 5px solid #eb6296;
  height: 300px;
}
.colu{
  padding: 30px;
}
.colu h3{
  text-align: center !important;
}
.colu a{
    color: #eb6296;
}

.colu h2{
  text-align: center;
  font-size: 30px;
  padding: 20px;
  text-decoration-style: uppercase
}
.butterfly h2{
    margin: 20px;
    color: #eb6296;
    text-align: center;
    font-size: 35px;
  }
.butterfly h3{
  line-height: 1.5;
    color: #777;
    text-align: center;
    font-size: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
  
}
.company_address a{
  color: white;
}
.lacie{
  background: url(asset-path("lacie.jpg")) no-repeat fixed;
  background-position: center;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.lacie h3{
  padding: 60px;
  font-size: 25px;
  text-align: center;
  color: white;
}
#welcome{
  text-align: center;
  padding-top: 60px;
  background-color: white;
}
#welcome h1{
  font-size: 40px;
  font-family: arial;
  color:#00e8f5;
}
#welcome h2{
  font-size: 20px;
  font-family: arial;  
  border-bottom: 4px solid #eb6296;
  border-bottom: 7px;
  line-height: 48px;
  // text-decoration: underline;
  text-decoration-color: #eb6296;
  text-decoration-style: solid ;
}
#welcome h3{
  font-size: 18px;
  text-align: left;
  line-height: 30px; 
}
#truck{
  width: 60px;
  padding-top: 20px;
}
.drop-down {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 10px;
  z-index: 1;
   margin-left: 70px;
  margin-top: 30px
}
.dropdown-content a{
  color: #555555;
  text-transform: uppercase;
  padding: 12px 16px 12px 10px;
}
.dropdown-content a:hover{
  background-color: white;
  text-decoration: none;
}
.drop-down:hover .dropdown-content {
  display: block;
}
.social-media a{
  color: white;
}
.skyblue li > a, .skyblue > li.showhide span {
    color: rgb(85, 85, 85);
}
.skyblue>li:hover>a,.skyblue .dropdown li:hover>a{color:#555; background:#ffffff;}
.show {
  display: block;
}
strong{
  font-weight: bold;
}
#sort a{
  color: black !important;
}
 span .caret{
    background-image: url(asset-path("down-arrow.png")) no-repeat; 
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
 }
.f-list a{
  color: white;
  text-decoration:none;
}
.tit a{
  color: #777;
  font-size: 1.2em;
}
.span_1_of_3:hover .tit a{
  color: #FFF;
  text-decoration: none;
}
.header-top p{
  color: white;
  text-align: center;
  padding: 10px;
}
.header-top img{
  width: 30px;
}
.logo img{
  width: 100px;
}